.intro {
  font-size: 1.2rem;
  font-weight: bold;
}

.odd {
  background-color: #ffc;
}

body {
  font-family: "Helvetica", "Arial", serif;
  background-color: #fff;
  color: #000;
}

table {
  margin: auto;
  padding: 0.2rem;
  font-size: 1.2rem;
}

th {
  font-weight: normal;
  font-style: italic;
  text-align: left;
  border: 1px dotted #699;
  background-color: #9cc;
  color: #000;
}

th, td {
  width: 10em;
  padding: .5em;
}

/* tr:nth-child(odd) {
  background-color: #ffc;
}

tr:nth-child(even) {
  background-color: #fff;
}

tr:hover {
  font-weight: bold;
} */
